.app__list{
  text-align-last: left;
  &-item{
    padding: 0 10px ;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(54, 200, 219, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }
  &-text{
    width: 90%;
  }
  &-checkbox{
    margin-top: 6px;
  }
  &-checkbox:checked{
    display: none;
  }
  
  &-item-completed{
    text-decoration: line-through;
    background-color:rgba(54, 219, 76, 0.1);

  }
}